/*
Poject Title : demo
Responsive   : Yes ( Bootstrap5) 
Author       : Golu Prajapati
Status       : Find a small win each day.
Date         : 22/10/2024.
*/


@font-face {font-family:FontAwesome;src:url(../fonts/FontAwesome.otf);}
@font-face {font-family:DMSans-Regular;src:url(../fonts/DMSans-Regular.ttf);}
@font-face {font-family:FoundersGrotesk-Regular; src:url(../fonts/FoundersGrotesk-Regular.ttf);}
@font-face{font-family:Degular-Regular; src: url(../fonts/Degular-Regular.otf); }

body{font-family: "DM Sans", serif;color:#353332;line-height:1.7;font-size: 14px; letter-spacing: normal;}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {position: relative;}
img {max-width: 100%;}
ul{list-style: none; padding: 0px; margin: 0px;}
p{font-weight: 200; font-family:'DM Sans';}

h2{font-family: "dm-sans", sans-serif; font-weight: 100;}

/*----header-------*/
#header{position: absolute; top: 0px; left: 0px; right: 0px; width: 100%;z-index: 99; padding-top: 20px;}
.navbar-expand-lg .navbar-collapse{justify-content: end;}
.header-menu .navbar-dark{background: #fff; border-radius: 6px; box-shadow: 0px 0px 10px #cccccc0f; padding: 10px 20px;} 
.header-menu .navbar-nav li a {position: relative; color: #000;text-decoration: none;padding: 0px 20px;display: inline-block;font-size: 16px; font-weight: 400; color: #000;
    line-height: normal;letter-spacing: -0.42px;}
.header-menu .navbar-nav li.active a{}
.header-menu .navbar-nav li a:hover{color: #024728;}
   
.inner-header .navbar-dark{background: #EDEDEC;}

.header-menu a.btn{background: #024728; color: #fff; padding: 10px 24px; border-radius: 30px; font-weight: 400; font-size: 16px; line-height: normal;
    letter-spacing: -0.42px;}
.search-icon a{color: #000; padding-left: 10px;}
.navbar-toggler{position: relative; top: -5px; padding: 0px;}

.searchbar_header a {color: #000;padding: 12px; text-decoration: none;}
#searchpanel {position: absolute;right:0px;top: 70px;display: none;z-index: 99; opacity: 0;
background:#101111;padding: 5px;}
 form.serach {display: flex;}
 .searchbar_header .form-control {border-radius: 0px;font-size: 14px;padding: 10px 14px;}
.form-control, input, .form-control:focus {outline: none;box-shadow: none;}
.searchbar_header .btn_serach {background: #024728;color: #fff;border: 0px;border-radius: 0px;display: inline-block;font-size: 16px;font-weight: 700;}

.header .menu-icon {cursor: pointer;display: inline-block;position: relative;user-select: none;}
.header .menu-icon .navicon {background: #333;display: block;height: 2px;position: relative;transition: background .2s ease-out;width: 18px;}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {background: #333;content: '';display: block;height: 100%;position: absolute;transition: all .2s ease-out;width: 100%;}
.header .menu-icon .navicon:before {top: 5px;}
.header .menu-icon .navicon:after {top: -5px;}
    
/* menu btn */
.header .menu-btn {display: none;}
.header .menu-btn:checked ~ .menu {max-height: 240px;}
.header .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
.header .menu-btn:checked ~ .menu-icon .navicon:before {transform: rotate(-45deg);}
.header .menu-btn:checked ~ .menu-icon .navicon:after {transform: rotate(45deg);}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {top: 0;}
    
/*----banner section-------*/
.banner-section{position: relative; margin-bottom: -6px;}
.bottomcnt {position: absolute; bottom: 60px;}
.bottomcnt h1 {color: #FFF;font-family:'FoundersGrotesk-Regular';  font-size: 65px;font-style: normal;font-weight: 500;line-height: 69px; /* 106.154% */letter-spacing: -1.95px;text-transform: uppercase; position: relative; z-index: 999;}

 /**************video-section**********************/

.video-section{position:relative; height:1px; padding-bottom:57%; overflow:hidden;}
.video-section video{position:absolute; height:100%; width:100%; left:0; top:0; z-index:0;}
.play_btn{ z-index:1;}
.fancybox-slide--video .fancybox-content {width: 100vw !important;height: 100vh !important;}
.fancybox-slide{padding:0;}
.fancybox-slide--iframe .fancybox-close-small, .fancybox-slide--image .fancybox-close-small, .fancybox-slide--video .fancybox-close-small {right: 0;top: 0;width: 150px;height: 150px;background:#fff;display: flex;align-items: center;justify-content: center;text-decoration:none !important;color: #000;font-size: 26px;font-weight: 300;z-index:2;position:absolute;border-radius: 100%;}
.fancybox-close-small:before{content:'Close';	color: #000;font-size: 26px;font-weight: 300; width:100%; height:100%;	display: flex;align-items: center;justify-content: center; text-align:center;}
.fancybox-close-small svg{display:none;}
.fancybox-video{position:fixed; z-index:1;}
.fancybox-bg{opacity:1 !important; background:#000 !important;}
#play-button {position: absolute;border-radius: 100%;left:80%;top: 40%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);transform: translate(-50%, -50%);opacity: 1;cursor: none;
    display: flex;align-items: center;justify-content: center;}
.fancybox-active{position:fixed; height:100vh;}


/*----innovation section-------*/
.innovation{position: relative; padding:90px 0px; background-color: #024728;}
.tittle-hd{margin-bottom: 50px;}
.tittle-hd h2{color: #fff;font-size: 80px; font-weight: 100; margin-bottom: 30px; line-height: 83px;    letter-spacing: -0.04em;}
.tittle-hd p{color: #fff;font-family:'DM Sans'; max-width: 600px; font-size: 18px;
    font-weight: 300;line-height: 32px;letter-spacing: -0.05em;text-align: left;text-underline-position: from-font;text-decoration-skip-ink: none;} 
.align-items{align-items: center;}
.leftside img{width: 100%;}
.rightsidepl{position: relative; left: 30px;}
.our-grid{display: grid; grid-template-columns: repeat(2 ,1fr); gap: 0px 10px; border-top: 1px solid #0e3622; padding: 20px 20px;}
.our-cnt h4{color: #fff; font-size: 24px; font-weight: 500; letter-spacing: -0.05em;}
.out-paragraph p{color: #fff; margin: 0px;font-size: 18px;line-height: 32px;text-align: left;     font-family: 'DM Sans';}
.view-btn a.btn{background: transparent; border: 1px solid #0e3622; font-size: 16PX; padding: 10px 20px; border-radius: 30px; color: #fff;}
.view-btn a.btn img{margin-left: 6px;}

/*----product-section------*/
.product-section{position: relative; padding: 0px 0px 90px;}
.product-section h2{color: #1E1E1E; font-size:80px; margin-bottom: 40px; line-height: 83px; letter-spacing: -4px; font-weight: 100;}
.product-grid{display: grid; grid-template-columns: repeat(2 ,1fr); gap: 0px 30px;}
.product-box{position: relative; overflow: hidden;}
.product-img img{width: 100%; border-radius: 20px;}
.explore-cnt {position: absolute;top: 30px;left: 30px;z-index: 99; max-width: 450px;}
.explore-cnt h5{color: #1E1E1E; font-size: 40px;font-weight: 600;line-height: 40px; letter-spacing: -2px; font-family:'FoundersGrotesk-Regular';}
.explore-cnt p{color: #1E1E1E; font-size: 16px; font-weight: 200;}
.explore-cnt a{font-size: 16px; color: #000; text-decoration: none; font-weight: 200;}
.explore-cnt a img{margin-right: 5px;}

/*----transformed-section------*/
.transformed{background: url(../images/Landscapes.svg); background-position: center; background-size: cover; padding: 90px 0px; position: relative;}
.reformed{max-width: 910px; margin-left: auto;}
.reformed h2{color: #fff;font-size: 60px;font-weight: 400;line-height: 71px;letter-spacing: -0.05em;text-align: left;margin: 0;}
.serve-text{position: relative; margin-top: 10%;}
.serve-text h4{color: #fff;font-size: 24px;font-weight: 600;line-height: 61px;letter-spacing: -0.05em;text-align: left;}
.serve-list{column-count: 2; max-width: 680px; margin-top: 30px;}
.serve-list li{line-height: 60px;}
.serve-list li a{color: #fff;font-size: 24px;font-weight: 400;line-height: 61px;letter-spacing: -0.05em;text-align: left;text-decoration: none;}

/*----planet-section------*/
.planet-section{padding: 90px 0px; position: relative;}
.planet-wer {position: relative; margin-bottom: 20px;}
.planet-cnt {position: absolute;top:60px;left: 0px;right: 0px;max-width: 700px;margin: 0 auto;z-index: 99; text-align: center;}
.planet-cnt h3{color: #fff; font-family:'FoundersGrotesk-Regular'; font-size: 60px;font-weight: 400;line-height: 60px;letter-spacing: -0.03em;text-align: center;}
.planet-cnt p{color: #fff; font-size: 18px;font-weight: 400;line-height: 23.44px;letter-spacing: -0.05em;text-align: center;margin-bottom: 50px;}
.planet-cnt a.btn {background: #fff;color: #1E1E1E;padding: 12px 20px;border-radius: 30px; border:0px;font-size: 16px;font-weight: 500;line-height: 18.23px;letter-spacing: -0.02em;text-align: left;}
.planet-img img{width: 100%;}
.planet-grid {display: grid;grid-template-columns: repeat(2 ,1fr);gap: 0px 30px;}
.partners-box{position: relative; overflow: hidden;}
.partners-img img{width: 100%; border-radius: 20px;}
.partners-cnt {position: absolute;top: 30px;left: 20px;z-index: 99; max-width: 400px;}
.partners-cnt h4{color: #fff; font-family:'FoundersGrotesk-Regular';font-size: 40px;font-weight: 500;line-height: 40px;letter-spacing: -0.05em;text-align: left;}
.partners-cnt p{color: #fff;font-size: 18px;font-weight: 400;line-height: 23.44px;text-align: left;}
.partners-cnt a{font-size: 16px; color: #fff; text-decoration: none;font-weight: 300;line-height: 32px;text-align: left;}

.partner-slider .item-card{ position: relative;}
.partner-slider .item-card::after {content: '';position: absolute;top: 44px;right: 30px;width: 312px;height: 430px;background: url(../images/Rectangle-bg.svg);background-position: center;background-size: cover; z-index: 999;}
.industry-text{position: absolute; top: 0px; left: 0px; padding: 30px; }
.exceeds-img img{width: 100%; z-index: 99; position: relative;}
.exceeds-img{position: relative;}
.exceeds-img::before {content: '';position: absolute;top: 10px;width: 90%;height: 100%;left: 0px;right: 0px;margin: 0 auto;text-align: center;border-radius: 30px;display: block;background: #f5f5f5;border: 1px solid #BBBBBB40;}
.exceeds-img::after {content: '';position: absolute;top:0px;width: 95%;height: 100%;left: 0px;right: 0px;margin: 0 auto;text-align: center;border-radius: 30px;display: block;background: #f5f5f5;border: 1px solid #BBBBBB40;}

/* Movie Animation Section */
.movie-animation {position: relative;}
.item-card{position: relative;}
.slide {position: absolute;top: 0;left: 0;width: 100%;opacity: 0;transform: translate(20px, 50px);
  transition: opacity 1s ease, transform 2s ease;transform-origin: 50% 50% 0px;will-change: transform;}
.slide.active {opacity: 1;transform: translateY(0);}
/* Timeline Styling */
.timeline {display: flex;justify-content: center;gap: 20px;position: absolute;top: 92%;right: 0px;left: 34%;max-width: 300px;margin: 0 auto;}
.time-dot {border-radius: 9px;width: 40px;height: 5px;background: #EDEDED;position: relative;overflow: hidden;}
.time-dot::after{opacity: 0;border-radius: 9px; content: ''; position: absolute; top: 0px; left: 0px; width: 40px;height: 5px;background: #024728; z-index: 9; animation: marquee 5s infinite linear;}
.time-dot.active::after{opacity: 1;}
@keyframes marquee {
  from { translate:0%; }
  to { translate: 70%; }
}


.industry-text h3{font-family:'FoundersGrotesk-Regular';color: #000;font-size: 55px;font-weight: 400;line-height: 60px;letter-spacing: -0.05em;text-align: left; position: relative; z-index: 1199;}
.bottomtext{position: absolute; bottom: 0px; padding: 30px; left: 0px; z-index: 99;}
.bottomtext p{color: #000;font-size: 16px;font-weight: 600;line-height: 23px;letter-spacing: -0.05em;text-align: left;}
.bottomtext p span{display: block; font-weight: 300; color: #A6A6A6;}
.partner-slider .owl-theme .owl-controls{text-align: center; margin-top: 20px;}
.partner-slider .owl-theme .owl-dots .owl-dot span{border-radius: 9px; width: 40px; height: 5px; background: #EDEDED; position: relative;}
.partner-slider .owl-theme .owl-dots .owl-dot span::after {content: '';position: absolute;top: 0px;width: 25px;height: 5px;background: #024728;z-index: 99;right: 0px;border-radius: 9px; opacity: 0;}
.partner-slider .owl-theme .owl-dots .owl-dot.active span::after{opacity: 1;}

/*----News-section------*/
.News-section{padding: 90px 0px; position: relative; background: #EDEDED;}
.News-section::after {content: '';position: absolute;top: 0px;right: 0px;background-image: url(../images/H-vectorbg.svg);width: 600px;height: 1320px;background-position: center;background-size: cover;}
.News-section .container{position: relative; z-index: 999;}
.News-section h2{font-size: 80px; color: #1E1E1E;line-height: 94px;letter-spacing: -0.04em;text-align: left;margin-bottom: 0px;}
.News-section  .nav-pills{justify-content: end;}
.News-section  .nav-pills .nav-link{color: #A6A6A6; font-size: 18px;font-weight: 400;line-height: 61px;letter-spacing: -0.05em;text-align: left;}
.News-section  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: transparent; color: #9e9898;}
.event-wer{position: relative; margin-bottom: 40px;}
.event-wer img{width: 100%; margin-bottom: 15px;}
.event-wer p{font-size: 18px; color: #101111;font-weight: 400;line-height: 23.44px;letter-spacing: -0.05em;text-align: left;}
.event-btn{position: absolute; top: 0px; left: 0px; padding: 20px;}
.event-btn a.btn{background: #fff; border-radius: 30px; padding: 10px 20px; color: #1E1E1E; border: 0px; font-size: 16px;}
.all-view {text-align: center;}
.all-view a.btn {background: transparent;border: 1px solid #101111;color: #101111;font-size: 16px;padding: 10px 24px; font-weight: 300; border-radius: 30px;}
.all-view a.btn img{margin-left: 5px;}

/*-------package-section--------*/
.package-section{padding: 240px 0px; position: relative; background: #0C502E;}
.package-section::after{content: ''; position: absolute; top: 0px; left: 0px; width: 480px; height: 100%; background: url(../images/enquire-bg.svg); background-position: center; background-size: cover;}
.enquire {max-width: 600px;margin-left: auto;}
.enquire h2{color: #fff;font-size:80px;font-weight: 100;line-height: 83px;letter-spacing: -0.04em;text-align: left;margin-bottom: 40px;}
.enquire p{color: #fff;font-size: 14px;font-weight: 300;line-height: 19px;letter-spacing: -0.03em;text-align: left;margin-bottom: 80px;}
.enquire a.btn{border: 1px solid #056535; background:transparent; padding: 10px 24px; font-size: 16px; border-radius: 30px; color: #fff; font-weight: 300;}
.enquire a.btn img{margin-left: 5px;}

/*-------footer-section--------*/
.footer{background: #121211; padding: 60px 0px 30px; position: relative;}
.ftr-grid{display: grid; grid-template-columns: repeat(4 ,1fr); gap: 0px 10px;}
.ftr-menu{position: relative; display: grid; grid-template-columns: repeat(2 ,1fr);}
.ftr-menu li {line-height: 40px;}
.ftr-menu li a{color: #fff;font-size: 14px;font-weight: 400;line-height: 29px;letter-spacing: -0.05em;text-align: left;text-decoration: none; display: block;}
.contact-adress h6{color: #fff; margin-bottom:1px;font-size:14px;font-weight: 600;line-height: 29px;text-align: left;}
.contact-adress p{font-size: 14px; color: #fff;line-height: 18.23px;margin-bottom: 20px;}
.contact-adress a{color: #fff; text-decoration: none;}
.copyright {position: relative;margin-top: 10%;}
.copyright ul{display: flex; align-items: center; justify-content: space-between; max-width:728px; margin-left: auto;}
.copyright li{display: inline-block;} 
.copyright li a{color: #757575; font-size: 14px; display: inline-block; text-decoration: none;}

.ftr-logo {position: relative;margin-top: 50px;}
.ftr-logo img{max-width: 284px;}

/*---contact us page------*/
.contact-pages{position: relative; padding: 80px 0px; background:#0E5531 ;} 
.contact-pages::after {content: '';position: absolute;top: 0px;right: 0px;width: 480px;height: 100%;background: url(../images/contact-bg.svg);background-position: center;background-size: cover;}
.contact-form{background: #FFFFFF; padding: 30px 20px; border-radius: 20px; z-index: 99; position: relative; max-width: 580px; margin: 0 auto;}
.backtop{text-decoration: none; color: #000; font-size: 16px; margin-bottom: 20px; display: block;}
.backtop img{margin-right: 5px;}
.form-details .form-control{border: 1px solid #F2F2F2; height: 50px; padding: 10px 20px; margin-bottom: 20px; font-weight: 300; font-size: 14px; color: #A6A6A6;}
.form-details textarea.form-control{min-height: 110px;}
.form-details label {color:#121211;font-family: 'DM Sans';font-size: 18px;font-weight: 500;line-height: 29px;letter-spacing: -0.9px; margin-bottom: 8px;}
.form-details h3{color:#121211;font-family:'DM Sans';font-size: 18px;font-style: normal;font-weight: 500;margin-bottom: 0px;}
.form-details label span{color:#A6A6A6;font-family:'DM Sans';font-size: 14px;font-weight: 300;line-height: 20px; display: block;margin-bottom: 20px;}
.form-details p{color:#A6A6A6;font-family:'DM Sans';font-size: 12px;font-style: normal;font-weight: 300;line-height: 18px;}
.form-details button.btn{border:0px; color: #fff; font-size: 14px; padding: 12px 24px; border-radius: 30px; display: inline-block; margin: 30px 0px; background: #101111;}
.form-details textarea {resize: none;}
.form-details button.btn img{margin-left: 5px;}
.locations-section{padding: 80px 0px; position: relative;}
.locations-section h2{color: #101111;font-size: 92px;font-weight: 100;line-height: 83px;letter-spacing: -0.04em;text-align: left;margin-bottom: 30px;}
.corporate h5{color: #101111;font-size: 24px;font-weight: 500;line-height: 29px;letter-spacing: -0.05em;text-align: left;}
.corporate p{color: #101111; font-size: 18px; min-height: 110px; font-weight: 300;line-height: 30px;letter-spacing: -0.05em;}
.corporate a{text-decoration: none; color: #1E1E1E; font-size: 16px; margin-bottom: 20px; display:block;}
.map-section{position: relative; padding: 60px 0px; background: #F2F2F2;}
.map-section img{width: 100%;}

.corporate-layer{display: grid; grid-template-columns: repeat(3 ,1fr); gap: 0px 30px; border-bottom: 1px solid #F2F2F2;}
.corporate-box{padding: 30px 0px; position: relative;}


/* -----Blog page ------*/
.inner-banner{position: relative; padding: 160px 0px 80px;}
.leadership{margin-bottom: 30px;}
.leadership .row{align-items: center;}
.leadership h2{color: #121211;font-size: 92px;font-style: normal;line-height: 90px;letter-spacing: -3.68px;}
.leadership p{color: #121211;font-size: 24px;font-style: normal;font-weight: 300;line-height: 34px;letter-spacing: -1.2px;}

.layer-grid2{display: grid; grid-template-columns: repeat(2 ,1fr); gap: 0px 20px;}
.blog-box{position: relative; overflow: hidden; margin-top: 30px;}
.blog-img {position: relative;}
.blog-img img{border-radius: 18px;}
span.featured {color: #FFF;font-family: 'DM Sans';font-size: 24px;font-weight: 500;line-height: normal;letter-spacing: -0.96px;position: absolute;bottom: 14px;z-index: 2;left: 20px;}
.blog-cnt{padding-top: 20px;}
.blog-cnt p{color: #777;font-size: 14px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: -0.56px; margin-bottom: 4px;}
.blog-cnt h6{color: #121211;font-family:'DM Sans';font-size: 18px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: -0.72px;}

.heading-top{display: flex; align-items: center; gap: 0px 30px; margin-top: 40px;}
.heading-top h2{margin-bottom: 0px; color: #121211;font-size: 92px;font-style: normal;line-height: normal;letter-spacing: -3.68px;}
.topics.btn {border-radius: 21.5px;background: #000;color: #FFF;font-family: 'DM Sans';font-size: 14px;font-weight: 300;padding: 8px 20px;display:inline-block;}
.topics.btn img{margin-left: 5px;}
.layer-grid3{display: grid; grid-template-columns: repeat(3 ,1fr); gap: 0px 20px;}

.select-wrapper{position: relative;}
.select-wrapper select.form-select {width: 193px;height: 43px;border-radius: 21px; position: relative;background: #000;font-size: 14px;font-weight: 300;line-height: 32px;color: #fff;border: 0px;}
select.form-select.addmember {position: relative;z-index: 1024;background-image: url(../images/all-view.svg);background-repeat: no-repeat;background-position: 90% center;background-size: 26px;}
select.form-select.addmember::after{content: ''; position: absolute; top: 0px; left: 0px;width: 193px;height: 43px;background: #000;}

/*----careers page-------*/
.careers-banner{position: relative; padding: 160px 0px 10px; background:#024728;}
.leadership h2.team{color: #FFF;font-size: 92px;line-height: 90px;letter-spacing: -3.68px; width: 525px;}
.teamslider1 {position: relative;overflow: hidden;}
.teamslider1 .item-img {height: 560px;}
.teamslider1 .item-img img {width: 100%;height: 100%;object-fit: cover;border-radius: 18px; }
.teamslider1 .Sample-box p{color: #F2F2F2; font-size: 14px; margin-top: 20px;}

.tittle-hd h2.hd2{color: #FFF;font-size: 62px;line-height: 70px;letter-spacing: -2.48px; width: 705px;}
.below-btn {position: absolute;bottom: 50px;}
.below-btn a.btn {color:#FFF;font-family:'DM Sans';font-size: 24px;font-style: normal;font-weight: 300;line-height: normal;letter-spacing: -1.2px; text-align: left;}
.below-btn a.btn span{margin-top: 12px; display: block;} 

.latest-section{position: relative; padding: 90px 0px; background: #fff;}
.latest-section h2{color:#121211;font-size: 92px;letter-spacing: -4.6px;}
.latest-list{padding: 40px 0px; position: relative;}
.latest-list::after {content: '';position: absolute;bottom: 0px;left: -12%;width: 1400px;height: 1px;background: #F2F2F2;text-align: center;}

.latest-list ul{display: flex; align-items: center; justify-content: space-between;}
.latest-list li span{font-size: 20px;font-weight: 400;line-height: 29px;}
.latest-list li{color:#121211;font-family:'DM Sans';font-size: 14px;font-weight: 300;line-height: normal; display: inline-block;}
.latest-list li a{text-decoration: none;color:#121211;}
.latest-list li a img{margin-left: 8px;}
.center-button{margin-top: 40px; text-align: center;}

.growth-section{border-radius: 38px 38px 0px 0px;background: #000; padding: 90px 0px; position: relative;}
.growth-section .row{align-items: center;}
.growthslider2{position: relative;}
.item-slider {position: relative;}
.item-growth{position: relative;}
.item-growth::after {content: '';position: absolute;top:-48px;left: 0px;background-image: url(../images/Export.svg);width: 124px;height: 102px;background-position: center;background-size: cover;}
.item-growth h4{color: #FFF;font-family:'DM Sans';font-size: 40px;font-weight: 100;letter-spacing: -1px; margin-bottom: 30px; position: relative; z-index: 22;}
.Sales-field h6{color: #FFF;font-family:'DM Sans';font-size: 24px;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: -1.2px; margin-bottom: 0px;}
.Sales-field p{color: #FFF;font-size: 20px;font-style: italic;line-height: normal;letter-spacing: -1px;}
.growth-img img{width: 100%; border-radius: 18px;}

.growthslider2 .owl-next:before {content: '';background-image: url(../images/preview-right.svg);background-repeat: no-repeat;position: absolute;bottom: 0%;left:5%;width: 35px;height: 35px;background-size: 35px;}
.growthslider2 .owl-prev:before {content: '';background-image: url(../images/preview-left.svg);background-repeat: no-repeat;position: absolute;bottom: 0%;left:0%;width: 35px;height: 35px;background-size: 35px;}
.growthslider2 .owl-theme .owl-controls .owl-nav div {height: 0px !important;}

/*----Article_Detail_Page-------*/
.artical-page h6{color: #D3D1D1;font-family:'Degular-Regular';font-size: 12px;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: 0.24px; margin-bottom: 0px;}
.artical-page h3{color: #000;font-family:'FoundersGrotesk-Regular';font-size: 64px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -2.56px;}
.artical-page p{color: #777;font-size: 14px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: -0.56px;}
.detail-warp{position: relative; padding: 40px 0px 0px 120px;}
.detail-warp p{color: #121211;font-size: 16px;font-style: normal;font-weight: 400;line-height: 24px; letter-spacing: -0.64px;}
.detail-warp p span{font-weight: 600;}
.detail-warp h5{color: #121211;font-family:'DM Sans';font-size: 16px;font-style: normal;font-weight: 600;line-height: 24px;letter-spacing: -0.64px; margin-bottom: 0px;}
.social-media a{display: inline-block; margin-right: 8px;}


/*---Event page---------*/
.event-banner{background: #005430; padding: 120px 0px 0px; position: relative;}
.event-banner .row{align-items: center;}
.event-banner h2{color: #FFF;font-size: 92px;line-height: 90px;letter-spacing: -3.68px; position: relative; top: -30px;}
.glimpse-img img{height: 450px;}

.expo-section{border-radius: 18px;background: #F2F2F2; width:1140px;padding: 30px; height: 436px; margin: 0 auto; position: relative;     margin-top: -6%; display: flex; align-items: center;}
.expo-section .position-wer{position: relative;}
.position-wer::after {content: '';position: absolute;top: -35px;right: -28px;background-image: url(../images/event/Event-bg.png);width: 240px;height: 407px;}
.packexpo-img img{width: 100%; border-radius: 18px;}
.event-text h5{color: #000;font-family:'DM Sans';font-size: 24px;font-weight: 300;line-height: normal;letter-spacing: -0.96px; margin: 0px;}
.event-text h3{color:#121211;font-family: 'DM Sans';font-size: 32px;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: -1.28px;}
.event-text .upper{position:relative; margin: 50px 0px; }
.event-text li{color:#121211;font-family: 'DM Sans';font-size: 24px;font-weight:300;letter-spacing: -0.96px; line-height: normal;}
.event-text li span{font-weight: 500;}
.pastevents-bg{position: relative; padding: 20px 0px 90px;}

.more-btn{position: relative;}
.more-btn a{color:#121211;font-family: 'DM Sans';font-size:16px;font-weight:300;letter-spacing: -0.96px; line-height: normal; text-decoration: none;}

/*----Event-Detail page.---------*/
.Event-Gallery{position: relative; padding: 0px 0px 90px; }
.article-post{padding: 40px 0px 10px;}
.article-post img{width: 100%;}
.detail-warp ul.post-list {list-style: disc;padding-left: 30px;margin-bottom:10px;}
.detail-warp ul.post-list li{color: #121211;font-family:'DM Sans';font-size: 16px;font-style: normal;font-weight: 400;line-height: 24px;letter-spacing: -0.64px;}
.past-events{border-radius: 38px 38px 0px 0px;background: #000; padding: 90px 0px; position: relative;}
.past-events h2{color: #FFF;font-size: 92px;letter-spacing: -3.68px;}
.past-events .blog-cnt h6{color: #fff;}
.youtube{position: absolute; top:34%; left: 0px; right: 0px; text-align: center; z-index: 2;}

.blog-box p{font-family:'DM Sans';color: #121211; margin-top:12px;font-size: 14px;font-weight: 300;line-height: 29px;letter-spacing: -0.05em;
  text-align: left;}
/*----privacy-policy page.---------*/
.artical-page.border_bottom {padding-bottom: 40px;border-bottom: 1px solid #E8E8E8;}
.detail-warp ul.post-list li a{color: #121211; text-decoration: underline;}
.artical-page.border_bottom h2{color: #000;font-family:'DM Sans';font-size: 92px;font-style: normal;font-weight: 600;line-height: 90px;letter-spacing: -3.68px;}
.artical-page.border_bottom p{color: #000;font-family:'DM Sans';font-size: 18px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -0.72px;}
.privacy-text h6 {color: #000;font-family:'DM Sans';font-size: 32px;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: -1.28px; margin-bottom: 20px;}
.privacy-text p{color: #000;font-family:'DM Sans';font-size: 18px;font-style: normal;font-weight: 400;line-height: 24px;letter-spacing: -0.9px;}


/*--Apply job page ------*/
.apply-header{margin-top: 20px;}
.apply-header .header-menu .navbar-dark{background: #EDEDEC;}
.Apply-page{background: #F2F2F2; border-radius: 57px 57px 0px 0px; padding: 60px 0px;height:823px;top: 162px; position: relative;}
.Apply-form h2{color: #121211;font-size: 92px;line-height: 119.78px;letter-spacing: -0.05em;text-align: left;}
.Apply-form p{color: #121211;font-size: 32px;font-weight: 300;line-height: 29px;letter-spacing: -0.05em;text-align: left; margin-bottom: 40px;}
.Apply-form p span{font-weight:600;}

.Apply-form .form-control{background: #F2F2F2;height: 56px; margin-bottom: 40px; font-family:'DM Sans';font-size: 14px;font-weight: 300;line-height: 20px;letter-spacing: -0.05em;text-align: left;border: 1px solid #C6C6C6}
.Apply-form textarea.form-control{min-height: 140px;}
.Apply-form textarea {resize: none;}

.Apply-bnt button.btn{color: #fff; border: 0px; font-size: 14px; border-radius: 21.5px; display: inline-block; background: #252525;width: 145px;height: 43px;}
.Apply-bnt button.btn.Cancel{color: #000000; background: #F2F2F2; border: 1px solid #C6C6C6; margin-right: 12px;}
.Apply-bnt button.btn img{margin-left: 30px;}

.upload-file {width: 283px;height: 56px;line-height: 56px;border-radius: 6px;background: #E9E9E9;margin-bottom: 40px;text-align: center;position: relative;display: flex;align-items: center;justify-content: space-between; padding: 20px;}
.upload-file button {border: 0;background: transparent;cursor: pointer;display: flex;align-items: center;gap: 10px;}
.file-name {font-family: 'DM Sans';color: #101111;font-size: 14px;font-weight: 300;line-height: 20px;text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 200px;}

.successfully{position: relative; left: 30px;}
.carees-succes h2{color:#121211;font-size: 92px;font-style: normal;font-weight: 100;line-height: 100px;letter-spacing: -4.6px; margin-bottom: 20px;}


/*----product page-------*/
.product-page{padding: 120px 0px; position: relative;}
.title-hd {text-align: center;}
.title-hd h2{color:#121211;font-size: 72px;font-style: normal;line-height: 100px;letter-spacing: -3.6px; margin: 0px;}
.title-hd h3{color: #000;font-family:'DM Sans';font-size: 100px;font-style: normal;font-weight:700;line-height: 94px;letter-spacing: -7px; margin-bottom: 30px;}
.title-hd p{color: #000;text-align: center;font-size: 24px;font-style: normal;font-weight: 300;line-height: 31px;letter-spacing: -0.72px;}

.Label-section h4{color: #000;font-family:'DM Sans';font-size: 32px;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: -1.28px; margin-bottom: 20px; margin-top: 30px;}
.label-box{position: relative; overflow: hidden; margin-bottom: 30px;} 
.label-box h5{color: #121211;font-family:'DM Sans';font-size: 18px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: -0.72px;}
.toparrow{position: absolute; top: 20px; right: 20px; z-index: 2;}
span.toparrow img {height: auto;}
.productimg img{height: 570px;}
.label-box img{height: 270px; width: 100%;}

/*----product Detail page-------*/
.product-detail{padding: 120px 0px 90px; position: relative;}
.Wrap-banner{position: relative;}
.Wrap-hd{position: absolute; top: 20%; left:30px; z-index: 9;}
.Wrap-hd h5{color: #0E5531;font-family:'DM Sans';font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -0.64px;}
.Wrap-hd h2{color: #121211;font-size: 92px;font-style: normal;line-height: 98px;letter-spacing: -3.68px;}

.wrap-p{margin-top: 90px;}
.wrap-p p{color: #000;text-align: center;font-family:'DM Sans';font-size: 24px;font-style: normal;font-weight: 300;line-height: 34px;letter-spacing: -0.96px;}


.table-section{position: relative; padding: 0px 0px 90px;}
.table-scroll .table>thead {background-color: #F9FAFB; vertical-align: middle;}
.table-scroll .table>:not(caption)>*>*{background-color: transparent;}
.table-scroll td{color: #090909; font-size: 14px; font-weight: 400;}
.table-scroll {max-width: 100%;overflow-x: auto; white-space: nowrap; border-radius:9px;border: 1px solid#EAECF0;}
.table-scroll .table {width: 100%;min-width: 1000px;border-collapse: collapse;  margin: 0px;}
.table-scroll .table th, .table td {padding: 12px 24px;text-align: left;    vertical-align: middle; height: 45px;}
.table-scroll th{color: #000;font-family:'DM Sans';font-size: 16px;font-style: normal;font-weight: 700;line-height: normal;letter-spacing: -0.32px;text-transform: capitalize;}
.table-scroll td{color: #000;font-family:'DM Sans';font-size: 14px;font-style: normal;font-weight: 300;}
.table-scroll a.btn.Download {border-radius: 21.5px;background: #F2F2F2; width: 126px;height: 43px; border: 0px;color: #000;font-family:'DM Sans';font-size: 14px;font-style: normal;font-weight: 300;line-height: 30px;letter-spacing: -0.42px;}

.features-section{position: relative; padding: 0px 0px 90px;}
.features-img{position: relative;}
.features-img img{height: 515px;}
.Key-cnt{position: absolute; top: 40px; left: 40px; z-index: 2;}
.Key-cnt h4{color: #000;font-family:'FoundersGrotesk-Regular';font-size: 40px;font-style: normal;font-weight: 500;line-height: 40px;letter-spacing: -2px; margin-bottom: 20px;}
.Key-cnt .column2{column-count: 2; width: 100%; gap: 0px 60px; }
.Key-cnt li{color: #000;font-family:'FoundersGrotesk-Regular';font-size: 24px;font-style: normal;font-weight: 300;line-height: 25px;letter-spacing: -1.2px; display: flex; gap: 0px 15px;}
.Key-cnt li span img{height: auto;}
.Key-cnt li{margin-bottom: 60px;}

.Explore-img{position: relative; margin-top: 20px;}
.Explore-text{position: absolute; top:80px; left:40px; z-index: 2;}
.Explore-text h3{color: #FFF;font-family:'FoundersGrotesk-Regular';font-size: 70px;font-style: normal;font-weight: 500;line-height: 70px;letter-spacing: -3.5px;}
.Explore-text ul{column-count: 3; width: 100%; margin-bottom: 60px;}
.Explore-text li{color: #FFF;font-family:'DM Sans';font-size: 24px;font-style: normal;font-weight: 300;line-height: 32px;letter-spacing: -1.2px;}
.Explore-text .btn.tools{border-radius: 21.5px; border: 1px solid #F9F9F9; width: 145px;height: 43px; color: #FFF;font-family:'DM Sans';font-size: 14px;font-style: normal;font-weight: 300;line-height: 32px; letter-spacing: -0.42px;}
.Explore-text .btn.tools img{ margin-left: 6px;transform: rotate(268deg);}

.gulfpack-section{padding: 90px 0px; position: relative;background: #F2F2F2;}
.gulfpack-section h2{color: #121211;font-size: 92px;font-style: normal;line-height: 90px;letter-spacing: -3.68px; margin-bottom: 30px;}

.gulfpackslider {max-width: 1305px;margin-left: auto;}
.gulfpackslider .owl-next:before {content: '';background-image: url(../images/preview-right.svg);background-repeat: no-repeat;position: absolute;bottom: -8%;left:5%;width: 35px;height: 35px;background-size: 35px;}
.gulfpackslider .owl-prev:before {content: '';background-image: url(../images/preview-left.svg);background-repeat: no-repeat;position: absolute;bottom: -8%;left:0%;width: 35px;height: 35px;background-size: 35px;}
.gulfpackslider .owl-theme .owl-controls .owl-nav div {height: 0px !important;}
.team-slider img{width: 100%; border-radius: 18px; height: 501px;}
.team-slider{position: relative;}
.support-text{position: absolute; top: 30px; left: 20px; z-index: 2;}
.support-text h5{color: #FFF;font-family:'DM Sans';font-size: 24px;font-style: normal;font-weight: 600;line-height: 27px;letter-spacing: -1.2px; }
.support-text p{color: #FFF;font-family:'DM Sans';font-size: 18px;font-style: normal;font-weight: 300;line-height: 23px;letter-spacing: -0.9px;}
