@media (min-width:1390.8px) {
  .container{max-width: 1140px;}

}


@media (max-width:1390.8px) {
   
}


@media (max-width:1200.8px) {
  .News-section h2{font-size: 60px; line-height: normal;}
  .industry-text h3{font-size: 40px; line-height: normal;}
  .reformed h2{font-size: 46px; line-height: normal;}
  .product-section h2{font-size: 60px; line-height: normal;}
  .tittle-hd h2{font-size: 60px; line-height: normal;}
  .bottomcnt h1{font-size: 45px; line-height: normal;}
  .header-menu .navbar-nav li a{font-size: 15px; padding: 0px 8px;}
  .enquire h2{font-size: 60px; line-height: normal;}
  .corporate h5{font-size: 20px;}




}


@media (max-width:1024.8px) {
  .innovation{padding: 60px 0px;} 
  .product-section{padding: 60px 0px;}
  .transformed{padding: 60px 0px;}
  .planet-section{padding: 60px 0px;}
  .News-section{padding: 60px 0px; overflow: hidden;}
  .package-section{padding: 120px 0px;}
  .locations-section{padding: 60px 0px;}
  .contact-pages{padding: 60px 0px;}
  .explore-cnt p{font-size: 14px;}

  .corporate p{font-size: 14px;}
  .locations-section h2{font-size: 60px; line-height: 60px;}




}


@media (max-width:991.8px) {
    .navbar-collapse {position: absolute;top: 100%;width: 100%;z-index: 9999;background:#101111;left: 0px; z-index: 9999;}
    .header-menu .navbar-nav li a {padding: 14px 20px; font-size: 16px; color: #fff;}
    .header-menu li.nav-item {border-bottom: 1px solid #fff;}
    .bottomcnt{z-index: 1;}
    .tell_us {padding: 14px 20px;}
    .our-grid {grid-template-columns: repeat(1, 1fr);}
    .planet-cnt h3{font-size: 30px; line-height: normal;}
    .planet-cnt p{font-size: 16px; margin-bottom: 14px;}
    .partners-box{margin-bottom: 20px;}
    .package-section::after{width: 316px;}
    .enquire{margin-left: 44%;}
    .enquire h2{font-size: 45px;}

    .contact-pages .enquire{margin-left: 0%;}
    .contact-pages .enquire p{font-size: 16px; margin-bottom: 40px;}
    .contact-form{max-width: inherit; margin-top: 20px;}
    .corporate p{font-size: 16px; min-height: auto; margin: 0px;}
    .corporate a{margin-bottom: 4px;}
    .corporate{margin-bottom: 30px;}

    .movie-animation{height: 826px;}
    .timeline{left: 0%; top: 98%;}
    .layer-grid3 {grid-template-columns: repeat(2, 1fr);}
    .title-hd h3{font-size: 80px; letter-spacing: -2px;}
    .title-hd p br{display: none;}
    .product-section{padding: 30px 0px;}
    .explore-cnt.solve h5{font-size: 24px; line-height: normal;}
    .productimg img{height: 380px;}
    .Explore-text h3{font-size: 40px; line-height: normal; letter-spacing: normal;}
    .Explore-text li{font-size: 22px;}
    .Explore-text{top: 30px;}
    .Explore-text ul{margin-bottom: 12px;}
    .ftr-logo img {max-width: 210px;}

    .product-detail {padding: 120px 0px 30px;}
    .wrap-p {margin-top:30px;}
    .table-section{padding: 0px 0px 30px;}
    .Wrap-hd h2{font-size: 60px; line-height: normal;}
    .wrap-p p{font-size: 20px;}
    .gulfpack-section{padding: 40px 20px 80px 20px;}
    .gulfpack-section h2{font-size: 60px; line-height: normal;}
    .gulfpackslider .owl-next:before{left: 8%;}
    .gulfpackslider .owl-prev:before{left: 1%;}
    .support-text{left: 10px;}
    .features-img{margin-bottom: 20px;}
    .Explore-img{margin-top: 0px;}
    .features-section{padding: 0px 0px 30px;}

    .expo-section{width: auto;}
    .event-text h3{font-size: 24px;}
    .event-text li{font-size: 20px;}
    .event-text .upper{margin: 20px 0px;}
    .position-wer::after{top: -100px;}

    .past-events{padding: 30px 0px;}
    .past-events h2{font-size: 60px; line-height: normal;}
    .Event-Gallery{padding: 0px 20px 30px 20px;}
    .heading-top h2{font-size: 60px; line-height: normal;}

    .item-growth h4{font-size: 24px;}
    .item-growth::after{top: -20px;}
    .growthslider2 .owl-next:before{left: 8%;}
    .growth-section{padding: 50px 0px;}
    .latest-section{padding: 30px 0px;}
    .latest-section h2{font-size: 60px; line-height: normal;}
    .latest-list{padding: 20px 0px;}
    .tittle-hd h2.hd2{font-size: 40px; line-height: normal;}
    .out-paragraph p{font-size: 16px;}
    .our-cnt h4{font-size: 20px;}
    .below-btn a.btn{font-size: 20px;}
    .leadership h2.team{font-size: 60px; line-height: normal;}

    .carees-succes h2{font-size: 60px; line-height: normal;}
    .leadership .hub2{font-size: 60px;}
    .imperial-werp .d-flex.align-items-start{display: block !important;}
    .Calculator-body{padding: 30px 0px;}
      .barrier-total{width: auto; padding: 40px 20px;}  
      .barrier-total h3{font-size: 28px;}
      .type-warp{width: 100%; height: auto; margin-top: auto; margin-bottom: 20px;}
      .imperial-werp{padding: 20px;}
      .Disclaimer{padding: 30px 0px;}


      .leadership h2{font-size: 60px; line-height: normal;}

      .planned-sec{padding: 30px 0px;}
      .growing-cnt h2{font-size: 50px;}
      .growth-img{margin-bottom: 20px;}
      .proudly-text{top: 20px;}
      .item-iso{margin: 0px;}
      .proudly-text h4{font-size: 30px;}

      .leaders-bg{width: auto;}
      .teamslider5{padding: 0px 20px;}
}




@media (max-width:767.8px) {
  .bottomcnt{bottom: 12px;}
  .bottomcnt h1 {font-size: 35px;}
  .tittle-hd h2{font-size: 45px; margin-bottom: 15px;}
  .tittle-hd p{font-size: 16px;}
  .out-paragraph p{font-size: 16px; line-height: normal;}
  .our-cnt h4 br{display: none;}
  .product-section h2{font-size: 50px; margin-bottom: 15px; letter-spacing: normal;}
  .product-grid {grid-template-columns: repeat(1, 1fr);}
  .product-box{margin-bottom: 20px;}
  .reformed h2 {font-size: 30px;line-height: 40px;}
  .planet-img img{height: 380px;}
  .contact-adress{margin-top: 20px;}
  .rightsidepl{left: 0px;}
  .title-hd h3{font-size: 50px; line-height: normal; letter-spacing: -1px;}
  .productimg img {width: 100%; height: auto;}
  .Explore-text h3{font-size: 28px;}
  .Explore-img img{height: 360px;}
  a.Request img{height: auto;}
  .Explore-text .btn.tools img{height: auto;}
  .event-banner h2{top: 0px; font-size: 60px; line-height: normal;}
  .expo-section{height: auto;}
  .event-text {padding: 30px 0px 12px;}
  .position-wer::after {top:0px;right:0px;width: 160px;height: 270px;background-position: center;background-size: cover;}

  .heading-top h2{font-size: 60px; line-height: normal;}
  .heading-top{margin-top: 0px;}
  .pastevents-bg{padding: 30px 0px;}
  .artical-page h3{line-height: normal; font-size: 60px;}

  .growthslider2 .owl-next:before {left: 12%; bottom: -4%;}
  .growthslider2 .owl-prev:before{bottom: -4%;}
  .below-btn{position: relative; bottom: 24px;}

  .careers-banner{padding: 60px 20px 0px 20px;}
  .leadership h2.team{width: auto;}
  .leadership .hub2{width: auto;}
  .leadership .hub2{font-size: 50px; line-height: normal;}
  .calculator-banner{padding: 60px 0px;}
  .Metric-wrap{gap: 0px 5px;}










}




@media (max-width:576.8px) {
  .innovation{padding: 30px 0px;} 
  .product-section{padding: 30px 0px;}
  .transformed{padding: 30px 0px;}
  .planet-section{padding: 30px 0px;}
  .locations-section {
    padding: 30px 0px;}
  .News-section{padding: 30px 0px; overflow: hidden;}
  .package-section{padding: 60px 0px;}
  .leftside{margin-bottom: 30px;}
  .News-section h2 {font-size: 45px;}
  .enquire{position: relative; z-index: 1199; margin-left: 0%; text-align: center;}
  .enquire h2{text-align: center;}
  .enquire p{text-align: center; font-size: 20px; line-height: 30px;}
  .container {padding: 0px 20px;}
  #header{padding-top: 0px; position: relative;}
  #header .container {padding: 0px;}
  .footer{padding: 30px 0px;}
  .ftr-logo {margin-bottom: 20px;}

  .contact-pages::after{width: 100%;}
  .layer-grid3 {grid-template-columns: repeat(1, 1fr);}
  .label-box img{height: auto;}
  .label-box{margin-bottom: 20px;}
  .label-box h5{margin-bottom: 0px;}
  .Label-section h4{margin-top: 20px;}
  .title-hd p{font-size: 16px;}
  .title-hd p br{display: none;}
  .product-page{padding: 40px 0px 0px;}
  .title-hd h2{font-size: 40px; line-height: normal;}
  .product-detail {padding: 30px 0px 30px;}
  .all-topics{margin-top: 30px;}
  .Wrap-banner img{height: 260px;}

  .inner-banner{padding: 40px 0px;}
  .artical-page.border_bottom h2{font-size: 60px; line-height: normal;}
  .artical-page.border_bottom{    padding-bottom: 30px;}
  .detail-warp {padding: 30px 0px 0px 0px;}
  .privacy-text p{font-size: 16px;}
  .privacy-text h6{font-size: 24px;}

  .layer-grid2 {grid-template-columns: repeat(1, 1fr);}
  .event-banner{padding: 120px 0px;}
  .glimpse-img img {height:340px;position: absolute;top: 0px;right: 0px;}
  .blog-box{margin-top: 20px;}
  .artical-page h3{font-size: 40px; letter-spacing: normal;}
  .artical-page h3 br{display: none;}

  .article-post {padding: 20px 0px 0px;}

  .corporate-layer {grid-template-columns: repeat(1, 1fr);padding-top: 30px;}
  .locations-section h2{font-size: 40px; line-height: normal; margin-bottom: 0px;}
  .corporate-box{ padding: 0px;}
  .corporate-layer.border-0{padding-top: 30px;}
  
  .latest-section h2{font-size: 40px;}
  .Apply-page{top: 20px;}
  .carees-succes h2{font-size: 30px; letter-spacing: normal;}
  .successfully img{max-width: 80px;}


  .Apply-form p{font-size: 18px;}
  .Apply-form h2{font-size: 60px; line-height: normal;}

  .about-page{padding: 80px 0px;}




}


@media (max-width:480.8px) {
.industry-text h3{font-size: 30px;}
.partner-slider .item::after{width: 230px; height: 320px;}
.News-section h2 {font-size: 40px;}
.serve-list li a{font-size: 18px; line-height: normal; letter-spacing: normal;}
.serve-text h4{font-size: 22px; letter-spacing: normal; line-height: normal;}
.reformed h2 {font-size: 24px;line-height: 33px;}
.explore-cnt h5{font-size: 28px; letter-spacing: normal; line-height: normal;}
.explore-cnt {left: 15px;max-width: 340px;}
.product-section h2{font-size: 40px; letter-spacing: normal;}
.bottomcnt h1 {letter-spacing: normal;font-size: 24px;}
.tittle-hd h2{font-size: 40px; letter-spacing: normal;}
.tittle-hd p{line-height:30px; letter-spacing: normal;}
.contact-adress p{font-size: 14px;}
video {height: 450px; border-radius: 0px;object-fit: cover;}
.locations-section h2 {font-size: 45px;line-height: normal;}
.corporate p{font-size: 16px;}
.corporate a{display: inline;}
.partner-slider .item-card::after{height: 340px; width: 240px;}
.movie-animation {height: 510px;}
.timeline{top:96%;}
.title-hd h3{font-size: 40px; margin-bottom: 10px;}
.Label-section h4{font-size: 26px;}
.productimg img{height: 340px;}
.Wrap-hd h2{font-size: 40px; letter-spacing: normal;}
.wrap-p p {line-height: normal;font-size: 16px; letter-spacing: normal;}
.Key-cnt h4{font-size: 30px;}
.Key-cnt li {margin-bottom: 20px;}
.Key-cnt .column2 {column-count: 1;}
.Key-cnt{left: 20px;}
.Explore-text h3 br{display: none;}
.Explore-text ul{column-count: 1;}
.gulfpack-section h2{font-size: 40px;}
.Explore-img img {height: 420px;}
.gulfpackslider .owl-next:before {left: 15%;}






}

@media (max-width:425.8px) {
.bottomcnt h1 br{display: none;}
.our-grid{padding: 20px 0px;}
.serve-list li {line-height: 45px;}
.serve-list li a{font-size: 16px;}
.partners-cnt h4{font-size: 30px; line-height: 30px;}
.industry-text h3 {font-size: 26px;}
.partner-slider .item::after {width: 200px;height: 240px;}
.bottomtext p{font-size: 14px;}
.industry-text{padding: 20px 15px;}
.News-section .nav-pills .nav-link{line-height: normal;}
.copyright ul{display: block; column-count: 2;}
.copyright{margin-top: 5%;}
.contact-adress h5{font-size: 18px;}
.enquire h2 {font-size: 34px;}
.enquire p{font-size: 16px; margin-bottom: 45px;}
.News-section h2 {font-size: 34px;}
.reformed h2{font-size: 22px;}
.product-section h2 {font-size: 34px;}
.our-cnt h4{font-size: 20px;}
.bottomtext {padding: 18px 15px;z-index: 1199;}
.contact-pages .enquire p{font-size: 14px; line-height: 26px;}
.form-details textarea.form-control {min-height: 60px;}
.form-details .form-control{height: 30px;}
.title-hd h3{font-size: 30px;}
.artical-page.border_bottom h2{font-size: 40px; letter-spacing: normal;}

}

@media (max-width:360.8px) {
.serve-list li a {font-size: 14px;}
.planet-cnt h3 {font-size: 25px;}
.partners-cnt p{font-size: 16px;}
.industry-text h3 {font-size: 24px;}
.copyright li a{font-size: 14px;}
.explore-cnt.solve h5{font-size: 22px;}

}